# ğŸ“Š Pandas ê¸°ì´ˆ - ë°ì´í„° ë¶„ì„ì˜ í•µì‹¬

PandasëŠ” íŒŒì´ì¬ì—ì„œ ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ í•„ìˆ˜ ë¼ì´ë¸ŒëŸ¬ë¦¬ì…ë‹ˆë‹¤.
AI/MLì—ì„œ ë°ì´í„° ì „ì²˜ë¦¬ì™€ ë¶„ì„ì— ê°€ì¥ ë§ì´ ì‚¬ìš©ë©ë‹ˆë‹¤.

## ğŸ¯ í•™ìŠµ ëª©í‘œ
- DataFrameê³¼ Series ì´í•´í•˜ê¸°
- ë°ì´í„° ë¡œë”©ê³¼ ì €ì¥
- ë°ì´í„° í•„í„°ë§ê³¼ ë³€í™˜
- AIë¥¼ ìœ„í•œ ë°ì´í„° ì „ì²˜ë¦¬ íŒ¨í„´ë“¤

In [15]:
import pandas as pd
import numpy as np

print(f"Pandas ë²„ì „: {pd.__version__}")
print(f"NumPy ë²„ì „: {np.__version__}")

Pandas ë²„ì „: 2.3.2
NumPy ë²„ì „: 2.3.3

## 1. DataFrame ìƒì„±í•˜ê¸° (AI ë°ì´í„°ì˜ ê¸°ë³¸ í˜•íƒœ)

In [16]:
# ë”•ì…”ë„ˆë¦¬ì—ì„œ DataFrame ìƒì„± (AI ë°ì´í„°ì…‹ì˜ ì¼ë°˜ì  í˜•íƒœ)
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'age': [25, 30, 35, 28, 32],
    'salary': [50000, 60000, 70000, 55000, 65000],
    'department': ['IT', 'HR', 'IT', 'Finance', 'IT']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print(f"\në°ì´í„° íƒ€ì…:\n{df.dtypes}")
print(f"\nê¸°ë³¸ ì •ë³´:")
print(df.info())

DataFrame:
      name  age  salary department
0    Alice   25   50000         IT
1      Bob   30   60000         HR
2  Charlie   35   70000         IT
3    Diana   28   55000    Finance
4      Eve   32   65000         IT

ë°ì´í„° íƒ€ì…:
name          object
age            int64
salary         int64
department    object
dtype: object

ê¸°ë³¸ ì •ë³´:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        5 non-null      object
 1   age         5 non-null      int64
 2   salary      5 non-null      int64
 3   department  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

## 2. ë°ì´í„° íƒìƒ‰ê³¼ í•„í„°ë§ (AI ì „ì²˜ë¦¬ì˜ í•µì‹¬)

In [17]:
# ë°ì´í„° íƒìƒ‰
print("ì²« 3í–‰:")
print(df.head(3))
print("\ní†µê³„ ìš”ì•½:")
print(df.describe())

# ë°ì´í„° í•„í„°ë§ (AIì—ì„œ ë§¤ìš° ì¤‘ìš”!)
print("\nIT ë¶€ì„œ ì§ì›ë“¤:")
it_employees = df[df['department'] == 'IT']
print(it_employees)

print("\në‚˜ì´ê°€ 30 ì´ìƒì¸ ì‚¬ëŒë“¤:")
older_employees = df[df['age'] >= 30]
print(older_employees[['name', 'age']])

# ì—¬ëŸ¬ ì¡°ê±´ í•„í„°ë§
print("\nIT ë¶€ì„œ ì¤‘ ë‚˜ì´ 30 ì´ìƒ:")
result = df[(df['department'] == 'IT') & (df['age'] >= 30)]
print(result)

ì²« 3í–‰:
      name  age  salary department
0    Alice   25   50000         IT
1      Bob   30   60000         HR
2  Charlie   35   70000         IT

í†µê³„ ìš”ì•½:
             age       salary
count   5.000000      5.00000
mean   30.000000  60000.00000
std     3.807887   7905.69415
min    25.000000  50000.00000
25%    28.000000  55000.00000
50%    30.000000  60000.00000
75%    32.000000  65000.00000
max    35.000000  70000.00000

IT ë¶€ì„œ ì§ì›ë“¤:
      name  age  salary department
0    Alice   25   50000         IT
2  Charlie   35   70000         IT
4      Eve   32   65000         IT

ë‚˜ì´ê°€ 30 ì´ìƒì¸ ì‚¬ëŒë“¤:
      name  age
1      Bob   30
2  Charlie   35
4      Eve   32

IT ë¶€ì„œ ì¤‘ ë‚˜ì´ 30 ì´ìƒ:
      name  age  salary department
2  Charlie   35   70000         IT
4      Eve   32   65000         IT

## 3. AIë¥¼ ìœ„í•œ í•µì‹¬ ë°ì´í„° ì „ì²˜ë¦¬

In [18]:
# 1. ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ«ìë¡œ ë³€í™˜ (AI ëª¨ë¸ì´ ì´í•´í•  ìˆ˜ ìˆê²Œ)
df_copy = df.copy()
df_copy['department_encoded'] = pd.Categorical(df_copy['department']).codes
print("ë¶€ì„œë¥¼ ìˆ«ìë¡œ ë³€í™˜:")
print(df_copy[['department', 'department_encoded']])

# 2. ì›í•« ì¸ì½”ë”© (AIì—ì„œ ë§¤ìš° ìì£¼ ì‚¬ìš©)
dept_dummies = pd.get_dummies(df['department'], prefix='dept')
print("\nì›í•« ì¸ì½”ë”©:")
print(dept_dummies)

# 3. ë°ì´í„° ì •ê·œí™” (AI í•™ìŠµì„ ìœ„í•´ í•„ìˆ˜)
from sklearn.preprocessing import StandardScaler
df_copy['salary_normalized'] = StandardScaler().fit_transform(df_copy[['salary']])
print("\nê¸‰ì—¬ ì •ê·œí™”:")
print(df_copy[['salary', 'salary_normalized']])

# 4. ê²°ì¸¡ê°’ ì²˜ë¦¬ (ì‹¤ì œ ë°ì´í„°ì—ì„œ í”í•œ ë¬¸ì œ)
df_with_nan = df.copy()
df_with_nan.loc[1, 'salary'] = np.nan  # ì„ì˜ë¡œ ê²°ì¸¡ê°’ ìƒì„±
print(f"\nê²°ì¸¡ê°’ í™•ì¸: {df_with_nan.isnull().sum()}")

# ê²°ì¸¡ê°’ ì±„ìš°ê¸°
df_filled = df_with_nan.fillna(df_with_nan['salary'].mean())
print("í‰ê· ê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ ì±„ì›€:")
print(df_filled)

ë¶€ì„œë¥¼ ìˆ«ìë¡œ ë³€í™˜:
  department  department_encoded
0         IT                   2
1         HR                   1
2         IT                   2
3    Finance                   0
4         IT                   2

ì›í•« ì¸ì½”ë”©:
   dept_Finance  dept_HR  dept_IT
0         False    False     True
1         False     True    False
2         False    False     True
3          True    False    False
4         False    False     True

ê¸‰ì—¬ ì •ê·œí™”:
   salary  salary_normalized
0   50000          -1.414214
1   60000           0.000000
2   70000           1.414214
3   55000          -0.707107
4   65000           0.707107

ê²°ì¸¡ê°’ í™•ì¸: name          0
age           0
salary        1
department    0
dtype: int64
í‰ê· ê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ ì±„ì›€:
      name  age   salary department
0    Alice   25  50000.0         IT
1      Bob   30  60000.0         HR
2  Charlie   35  70000.0         IT
3    Diana   28  55000.0    Finance
4      Eve   32  65000.0         IT